<nav class="navbar  navbar-dark bg-primary">
  <form class="form-inline">
      <a class="navbar-brand" href="#" style="font-size: 25pt;">Bus Reservation System</a>
      <button type="button" class="btn btn-dark loginStyle " style=" float: right;" (click)="logout()">Logout</button>
  </form>
</nav>
<table>
  <tr *ngFor="let s of busSeatDetail" >

    <td>
      <div *ngIf="s.reservation_id == 0; else elseblock">
        <button [class]="buttonststus" (click)=changeButtonStatus(s.seat_no)>{{s.seat_no}}</button>

      </div>
      <ng-template #elseblock>
        <button [class]="reservedbuttonStatus" disabled>{{s.seat_no}}</button>
      </ng-template>
    </td>
  </tr>
</table>

<h1>Seates Selected</h1>
<table>
<tr *ngFor="let selected of seates">
 <td>
 {{selected}}
 </td>

</tr>
</table>
<h2>
  Total Cost : {{total}}
</h2>

<button type="button" class="btn btn-primary" (click)=gotoPaymentSection()>Continue</button>
