<!--<nav class="navbar  navbar-dark bg-primary">
  <form class="form-inline">
    <a class="navbar-brand" href="#" style="font-size: 25pt;">Bus Reservation System</a>
    <h2 class="usernameStyle">Hello {{username}}</h2>
  </form>
</nav>
nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link fw-bolder" href="#" >About <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Terms of Use</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>

    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">


    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About <span class="sr-only"></span></a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/termsofuse" routerLinkActive="active" >Terms of Use</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
          </li>

        </ul>
      </div>
    </nav>


</nav> -->
<html>
  <body>
    <h1>Buses available</h1>
    <table *ngIf="busJourneyDetails1 && busJourneyDetails1.length" cellpadding="5px" cellspacing="5px" style="border: 1px solid black;border-collapse: collapse;">
      <thead>
        <tr>

          <th scope="col">Journey ID</th>
          <th scope="col">Bus No</th>
          <th scope="col">Departure Time</th>
          <th scope="col">Arrival Time</th>
          <th scope="col">Source Location</th>
          <th scope="col">Destination Location</th>
          <th scope="col">Departure Date</th>
          <th scope="col">Available Seates</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bus of busJourneyDetails1">
            <td>{{bus.journeyID}}</td>
            <td>{{bus.bus_no}}</td>
            <td>{{bus.departure_time}}</td>
            <td>{{bus.arrival_time}}</td>
            <td>{{bus.source_loc}}</td>
            <td>{{bus.destination_loc}}</td>
            <td>{{bus.departure_date}}</td>
            <td>{{bus.available_seates}}</td>


       <!--   <td>{{bus.}}</td>
          <td>{{bus.bus_no}}</td>
          <td>{{bus.departure_time}}</td>
          <td>{{bus.arrival_time}}</td>
          <td>{{bus.source_loc}}</td>
          <td>{{bus.destination_loc}}</td>
          <td>{{bus.departure_date}}</td>
          <td>{{bus.available_seates}}</td> -->
          <td><button type="button" class="btn btn-primary" (click)="bookSeates(bus)">Book</button></td>
           <td><button type="button" class="btn btn-primary" (click)="selectBusDetails(bus)">More Details</button></td>
        </tr>

      </tbody>
    </table>
    <div>
      <table cellpadding="5px" cellspacing="5px" style="border: 1px solid black;border-collapse: collapse;">
        <tr>
          <td>
            Cost Per Seat
          </td>
          <td>
            Bus Type
          </td>
        </tr>
            <tr>
              <td>
                {{costPerSeat}}
              </td>
              <td>
                {{busType}}
              </td>
            </tr>
      </table>
    </div>






  </body>
</html>


