<p>login works!</p>


<div class="card cardStyle">
  <h5 class="card-header" align="center">Login</h5>
  <div class="card-body">
    <!-- <form action="" name="loginForm" (ngSubmit)="check()"> -->
      <form action="" [formGroup]="loginForm">
      <div class="mb-3">
        <label for="email"><b>Email</b></label>
          <input formControlName="email" type="email"
          id="email" placeholder="E-mail" />

          <!-- <div id="id1" *ngIf="loginForm.get('email').hasError('required')"
          style="color: red;"> Email is a required field
          </div> -->

          <div id="id2" *ngIf="loginForm.get('email').hasError('pattern')"
          style="color: red;"> Enter a Valid Email
          </div>
      </div>
      <div class="mb-3">
        <label for="pwd"><b>Password</b></label>
          <input formControlName="pwd" type="password"
          name="pwd" id="password" placeholder="Password" />

         <!-- <div id="id3" *ngIf="loginForm.get('pwd').hasError('required')"
         style="color: red;"> Password is a required field
         </div> -->
      </div>
      <div class="mb-3">

        <p align="center" ><input type="checkbox" id="check">
          <span>Remember me</span>  <br> </p>

         <p style="float: right;"><a href="#">Forgot Password</a> </p>


        <p align="center"><button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary buttonCenter">Submit</button>
        <button type="submit" class="btn btn-danger buttonCenter">Cancel</button></p>
      </div>


    </form>
  </div>
</div>


 <!-- <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div> -->
