<div class="card cardStyle">
  <h5 class="card-header" align="center">Change Password</h5>
  <div class="card-body">
    <form action="" name="changePasswordForm" (ngSubmit)="check()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" required [(ngModel)]=email name="email" aria-describedby="emailHelp">

      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Old Password</label>
        <input type="password" name="oldPassword" required class="form-control" id="exampleInputPassword1" [(ngModel)]=oldPassword>
      </div>
      <div class="mb-3 ">
        <label for="exampleInputPassword1" class="form-label">New Password</label>
        <input type="password" name="newPassword" required class="form-control" id="exampleInputPassword1" [(ngModel)]=newPassword>
        <div *ngIf="passwordMatch; else numElseBlock2"></div>
        <ng-template #numElseBlock2>
        <p style="color: red;">*New Password is same as old password</p>
           </ng-template>
      </div>

        <p align="center"><button type="submit" class="btn btn-primary buttonCenter">Submit</button>
        <button type="submit" class="btn btn-danger buttonCenter">Cancel</button></p>



    </form>
  </div>
</div>

